.advantages {
  @include container;
  background-color: #fff;
}

.advantages__title {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;

  @include fontsource('ptsansbold', 18px, bold, 26px);
  text-transform: uppercase;
  text-align: center;

  color: #fff;

  margin-bottom: 10px;

  &--black {
    color: #000;
    margin-bottom: 35px;
  }
}

.advantages__desc {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;

  @include fontsource('ptsans', 14px, normal, 26px);
  text-transform: uppercase;
  text-align: center;

  color: #fff;

  margin-bottom: 45px;

  &--black {
    color: #000;
  }
}

.advantages__number {
  display: block;
  text-align: center;
  @include fontsource('ptsans', 14px, normal, 21px);
  color: #fff;

  &--black {
    color: #000;
    padding-bottom: 20px;
  }
}

.advantages__first-item {
  background-color: $blue;
  color: #fff;
  position: relative;

  padding-top: 70px;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 37px;
    top: 0;
    left: 0;
    background: url("../img/triangle.png") no-repeat center;
  }

}

.advantages__first-item img,
.advantages__second-item img {
  display: block;
  margin: 0 auto;
  background-size: cover;
}

.advantages__second-item {
  background-color: $blue;
  color: #fff;

  padding-top: 40px;
}

.advantages__third-item {
  width: auto;
  margin: 0 auto;

  text-align: center;
  background-color: #eeeeee;
  color: #000;
}

@media #{$tablet-width} {
  .advantages__title {
    padding-left: 50px;
    padding-right: 50px;
  }

  .advantages__title--black {
    padding-left: 166px;
    padding-right: 166px;
  }

  .advantages__desc {
    padding-left: 45px;
    padding-right: 45px;
  }

  .advantages__first-item,
  .advantages__second-item {
    display: flex;
    justify-content: flex-start;

    padding: 0;
  }

  .advantages__first-item p,
  .advantages__second-item p {
    margin: 0;
  }

  .advantages-wrap {
    flex-basis: 33.33%;

    display: flex;
    flex-direction: column;

    padding-top: 40px;
  }

  .advantages__number--mb25 {
    margin-bottom: 25px;
  }


  .picture-wrap {
    flex-basis: 66.66%;
    flex-grow: 1;
  }

  .advantages__first-item::after {
    background-image: none;
  }

  .advantages__second-item .picture-wrap {
    order: -1;
  }

}

@media #{$desktop-width} {
  .advantages-wrap {
    padding-top: 52px;
  }

  .advantages__title {
    padding-left: 110px;
    padding-right: 110px;
  }

  .advantages__title--black {
    padding-left: 340px;
    padding-right: 340px;
  }

  .advantages__second-item .advantages__desc {
    padding: 0 85px;
  }
}
