.page-footer {
  @include container-fluid;
  text-align: center;
  padding-top: 38px;
  padding-bottom: 25px;
}

.hashtag {
  @include fontsource('ptsansbold', 21px, bold, 26px);
  text-transform: uppercase;
  color: #000;

  margin-bottom: 40px;
}

@media #{$tablet-width} {
  .page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hashtag {
    margin: 0;
  }
}
