.search-hotel {
  @include container;
  text-align: center;

  padding-top: 30px;
  padding-bottom: 50px;
}

.search-hotel__title {
  @include fontsource('ptsansbold', 21px, bold, 26px);
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 25px;
}

.search-hotel__desc {
  @include fontsource('ptsans', 14px, normal, 24px);
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 38px;
}

@media #{$tablet-width} {
  .search-hotel {
    padding-top: 55px;
  }

  .search-hotel__title {
    font-size: 30px;
  }
}
