.social-icons {
  display: flex;
  justify-content: space-between;

  width: 150px;

  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0;

  list-style: none;
}

.social-icons a {
  display: block;
  background-color: $blue;
  width: 46px;
  height: 48px;
}

.twitter {
  background: url("../img/icon-twitter.png") no-repeat center;
}

.facebook {
  background: url("../img/icon-facebook.png") no-repeat center;
}

.youtube {
  background: url("../img/icon-youtube.png") no-repeat center;
}



