.social-icons {
  display: flex;
  justify-content: space-between;

  width: 150px;

  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0;

  list-style: none;
}

.social-icons a {
  display: block;
  background-color: $blue;
  width: 46px;
  height: 48px;
}

.social-icons a:hover,
.social-icons a:focus {
  background-color: #669ec0;
}

.social-icons a:active {
  filter: brightness(0.8);
}

.twitter {
  background: url("../img/icon-twitter.png") no-repeat center;
}

.facebook {
  background: url("../img/icon-facebook.png") no-repeat center;
}

.youtube {
  background: url("../img/icon-youtube.png") no-repeat center;
}

@media #{$tablet-width} {
  .social-icons {
    margin: 0;
    padding: 0;
  }
}


