.welcome-screen {
  position: relative;

  height: 389px;
  background-color: $blue;
  background: url("../img/bg-mobile.jpg") no-repeat center;
  background-size: cover;
}

.welcome-screen::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  background: url("../img/text-index.png") no-repeat center;
}


